nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
		.navbar-header
			a.navbar-brand(href='/home') HouseMart
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav
				li
					a(href='') About
				li
					a(href='') Contact
			ul.nav.navbar-nav.navbar-right
				case role
					when configs.roles.guest
						li
							a(href='/login') Login/Signup
					default
						li(uib-dropdown='')
							a#simple-dropdown(href='', uib-dropdown-toggle='', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								| Hello, #{username}
								span.caret
							ul(uib-dropdown-menu='', aria-labelledby='simple-dropdown')
								li
									a(href='/management#/posts') Manage Posts
								if role == configs.roles.admin
									li
										a(href='/management#/users') Manage Users
								li
									a(href='/management#/account') Account Settings
								li.divider(role='separator')
								li
									a(href='') Logout