#post-loader(ng-hide='showDetail')
	.paginator-option
		button.btn.btn-default(ng-controller='NewPostController', type='button', ng-click='createPost()') New Post
		.form-group
			label Order By:
			select.form-control(ng-model='paginator.orderProp', ng-options='opt.value as opt.label for opt in paginator.orderOptions')
		.form-group
			label Posts per Page:
			select.form-control(ng-model='paginator.itemsPerPage', ng-options='opt as opt for opt in [5, 6, 7, 8, 9, 10]')
	dir-pagination-controls.paginator(max-size='8', direction-links='true', boundary-links='true', auto-hide='true', pagination-id='post-loader', template-url='assets/libs/angular-utils-pagination/dirPagination.tpl.html')
	#posts
		a.post-item.row(dir-paginate='post in posts | orderBy:paginator.orderProp.expression:paginator.orderProp.reverse | emptyToEnd: paginator.orderProp.expression | itemsPerPage: paginator.itemsPerPage', pagination-id='post-loader', ui-sref='main.postDetail({postID: post.postID})', ng-click='showDetail = ! showDetail')
			.col-sm-4.post-col
				img.post-thumbnail-img(ng-src="{{post.image1 || 'assets/shared/imgs/home-icon.png'}}", fallback-src='assets/shared/imgs/home-icon.png', alt='No Image', loading-src='')
			.col-sm-8.post-col
				span.post-title {{post.title}}
				div(ng-show='post.area')
					p.post-label Area: 
					p {{post.area}}
				div(ng-show='post.dateUpdate')
					p.post-label Updated: 
					p {{post.dateUpdate}}
				div(ng-show='post.dateCreate')
					p.post-label Posted: 
					p {{post.dateCreate}}
			label.price-tag(ng-show='post.price')
				span {{post.price | currency:$:0}}
	dir-pagination-controls.paginator(max-size='8', direction-links='true', boundary-links='true', auto-hide='true', pagination-id='post-loader', template-url='assets/libs/angular-utils-pagination/dirPagination.tpl.html')
#post-detail(ui-view='', ng-show='showDetail')
