[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

#content-container {
	padding: 2em 4em 2em 4em;
	border: 1px solid #ddd;
	box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.2);
}