[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

#side-bar {
	padding: 1em 1em 1em 1em;
	margin-bottom: 3em;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.2);
}

.sticky-side-bar {
	position: fixed;
	top: 1em;
	width: 18.5%;
}

#content-container {
	padding: 2em 4em 2em 4em;
	margin-bottom: 3em;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.2);
}

.new-post-modal .angular-google-map-container { 
  height: 300px;
}

.post-detail .angular-google-map-container { 
  height: 500px;
}