<!DOCTYPE html>
<html lang="en" ng-app="HouseMart">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>HouseMart</title>

	<link rel="stylesheet" href="assets/shared/libs/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="assets/shared/libs/bootstrap/css/bootstrap-theme.css">
	<link rel="stylesheet" href="assets/shared/styles/css/main.css">
	<link rel="stylesheet" href="assets/modules/login/styles/login_main.css">

	<script src="assets/shared/libs/jquery/jquery-1.12.2.min.js"></script>
	<script src="assets/shared/libs/angular/angular.js"></script>
	<script src="assets/shared/libs/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="assets/modules/login/scripts/login_angular.js"></script>
</head>
<body ng-controller="MainController">
	<div class="container">    
		<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
			<div class="row">                
				<div class="iconmelon">
				</div>
			</div>

			<div class="panel panel-default" >
				<div class="panel-heading">
					<div class="panel-title text-center"><b>HouseMart</b></div>
				</div>     

				<div class="panel-body" >

					<form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">

						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input id="user" type="text" class="form-control" name="user" value="" placeholder="User">                                        
						</div>

						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input id="password" type="password" class="form-control" name="password" placeholder="Password">
						</div>                                                                  

						<div class="form-group">
							<!-- Button -->
							<div class="col-sm-12 controls">
								<button type="submit" href="#" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Log in</button>                          
							</div>
						</div>

					</form>     

				</div>                     
			</div>  
		</div>
	</div>
	<div id="particles"></div>

	<script src="assets/shared/scripts/particleBackground.js"></script>
	<script src="assets/modules/login/scripts/login_main.js"></script>
</body>
</html>