doctype html
html(lang='en', ng-app="HouseMart")
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width')
		title HouseMart

		link(rel='stylesheet', href='/assets/libs/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/assets/libs/bootstrap/css/bootstrap-theme.css')
		link(rel='stylesheet', href='/assets/shared/styles/css/price-tag.css')
		link(rel='stylesheet', href='/assets/modules/postLoader/styles/postLoader.css')
		link(rel='stylesheet', href='/assets/shared/styles/css/main.css')

	body(ng-cloak)
		header
			include /app/server/modules/headerBar/templates/headerBar.jade

		.container.col-md-10.col-sm-offset-1
			.col-md-3#side-bar
				include /app/server/modules/management/templates/sideBar.jade
			.col-md-9#content-container

		script(src='/assets/libs/angular/angular.js')
		script(src='/assets/libs/angular-ui-router/angular-ui-router.js')
		script(src='/assets/libs/angular-ui-bootstrap/ui-bootstrap-tpls.js')
		script(src='/assets/libs/angular-resource/angular-resource.js')
		script(src='/assets/libs/angular-utils-pagination/dirPagination.js')
		script(src='/assets/shared/libs/angular-img-fallback/angular.dcb-img-fallback.js')
		script(src='/assets/shared/scripts/ng_restServices.js')
		script(src='/assets/modules/postLoader/scripts/postLoader_ng_controller.js')
		script(src='/assets/shared/scripts/emptyToEnd_ng_filter.js')
		script(src='/assets/modules/management/scripts/management_ng_app.js')