ul.nav.nav-pills.nav-stacked
	li(role='Posts' ng-class="{'active': MainController.currentTab === 'posts'}")
		a(ui-sref='posts')
			| Posts Management

	li(role='Users' ng-class="{'active': MainController.currentTab === 'users'}")
		a(ui-sref='users')
			| Users Management

	li(role='Account' ng-class="{'active': MainController.currentTab === 'account'}")
		a(ui-sref='account')
			| Account Setting 